.header {
    display: flex;
    flex: 1;
    height: 3.2rem;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    border-bottom: 1px solid rgb(239, 239, 239);
}

.toggle-menu {
    padding: 7px;
    cursor: pointer;
    transition: 0.3s ease all;
    border-radius: 50%;
    &:hover {
        background-color: rgb(242, 242, 242);
    }
}

.user-info {
    display: flex;
    position: relative;
    padding: 5px 10px;
    transition: 0.3s ease all;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
    &:hover {
        background-color: rgb(251, 251, 251);
    }
    &:hover .user-info-dropdown {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
    .user-name {
        padding-right: 5px;
        font-size: 13px;
    }
    .user-image {
        padding: 15px;
        border-radius: 50%;
        background-color: rgb(247, 247, 247);
    }
    .user-dropdown {
        padding-left: 5px;
    }
}

.user-info-dropdown {
    display: block;
    visibility: hidden;
    position: absolute;
    top: 111%;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    border-radius: 5px;
    transition: 0.2s ease all;
    transform: translateY(-5%);
    background-color: #fff;
    font-size: 11px;
    a {
        display: flex;
        align-items: center;
        padding: 10px;
        transition: 0.3s ease all;
        span {
            margin-left: 5px;
        }
        &:hover {
            background-color: rgb(251, 251, 251);
        }
    }
}
