.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 100vh;
    background-color: #fff;
    border-right: 1px solid rgb(239, 239, 239);
    transition: 0.3s ease all;
    color: rgb(82, 82, 82);
}

.close {
    width: 50px !important;
}

.main-menu {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    padding: 0.79rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid rgb(245, 245, 245);
    svg {
        color: rgb(0, 156, 156);
    }
    h3 {
        padding-left: 5px;
    }
}

.item {
    position: relative;
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        transition: 0.3s all ease;
        font-size: 13px;

        span {
            flex: 1;
            margin: 0px 10px;
        }

        &:hover {
            background-color: rgb(227, 255, 255);
            color: rgb(0, 156, 156);
        }

        &:hover .dropdown-menu {
            display: block;
        }
    }
    &:hover .dropdown-menu {
        visibility: visible;
        transform: translateY(0);
        opacity: 1;
        transition: 0.1s ease all;
    }
}

.dropdown-menu {
    visibility: hidden;
    position: absolute;
    top: 0%;
    left: 100%;
    opacity: 0;
    transition: 0.3s ease all;
    background-color: #fff;
    box-shadow: 2px 1px 6px 0px rgb(222, 222, 222);
    transform: translateY(-50%);
    a {
        padding: 10px 20px;
        transition: 0.3s all ease;
        font-size: 13px;
        span {
            flex: 1;
        }
        svg {
            transition: 0.4s ease all;
        }
        &:hover svg {
            transform: translateX(3px);
        }
    }
}

.settings {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(245, 245, 245);
    padding: 0.3rem 0.8rem;
    a {
        padding: 10px;
    }
}
