.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 100vh;
    background-color: #fff;
    border-right: 1px solid rgb(239, 239, 239);
    transition: 0.3s ease all;
}

.close {
    width: 50px !important;
}

.main-menu {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    padding: 0.8rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid rgb(245, 245, 245);
    h3 {
        padding-left: 5px;
    }
}

// .menu {
//     .item {
//         a {
//             display: flex;
//             align-items: center;
//             padding: 10px 20px;
//             transition: 0.3s all ease;
//             font-size: 13px;
//             span {
//                 padding-left: 7px;
//                 flex: 1;
//             }
//             &:hover {
//                 background-color: rgb(227, 255, 255);
//                 color: rgb(0, 156, 156);
//             }
//         }
//     }
//     .dropdown {
//         display: none;
//     }
// }

.item {
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        transition: 0.3s all ease;
        font-size: 13px;

        span {
            flex: 1;
            margin-left: 10px;
        }

        &:hover {
            background-color: rgb(227, 255, 255);
            color: rgb(0, 156, 156);
        }
    }
}

.settings {
    display: flex;
    justify-content: center;
    border-top: 1px solid rgb(245, 245, 245);
    padding: 10px 0px;
    a {
        padding: 10px;
    }
}
